/ER8130_TC04/
/subg_soc_9003/
/sub_soc_9005/
/subg_soc_9005/
/subg_soc_9006/
/demo_cli/
/gpio/
/demo_radio_trx/
/demo_spi/
/demo_rtc/
/demo_wdt/
/demo_i2c/
/demo_pio/
/demo_gpio/
/demo_pwm/
/demo_crypto/
/demo_pwmslow/
/demo_wutmr/
/demo_trng/
/demo_gptmr/
/demo_spi_er9005/
/demo_i2c_for_soc_9005/
/demo_spi_for_soc_9005/
/demo_power_mode/
/demo_template/
/_demo_template/
/demo_boot_loader/
/demo_nfc/
/demo_flash/
/demo_timer_hub/
/rtos_template/
/demo_wmbus_phy_meter/
/demo_wmbus_phy_other/
/demo_wmbus_link_meter/
/demo_wmbus_link_other/
